beautifulsoup4
PyYAML
pip
celery
docker
eventlet
faker
Flask
flask-socketio
http_crawler
paramiko
python-libnmap
redis
requests
git+git://github.com/keaneokelley/pymetasploit#egg=pymetasploit
python-docker-machine
pyyaml
