{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                <ul class="nav nav-pills flex-column">
                    {#
                    <li class="nav-item">
                        <a class="nav-link active" href="#{{ module }}">{{ module }}<span class="sr-only">(current)</span></a>
                    </li>
                    #}
                </ul>

            </nav>

            <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
                <div class="alert" role="alert" id="messages">
                </div>

                <h1>Logs</h1>
                <div id="logs">
                    {% for l in logs %}
                        <div class="card">
                            <div class="card-header">
                                <span class="unftime">{{ l["time"] }}</span>
                            </div>
                            <div class="card-body text-{{ l["style"] }}">
                                <h5 class="card-title">{{ l["tag"] }}</h5>
                                {{ l["text"] }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/logs.js"></script>
{% endblock %}
